@page
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row p-1">
        <span class="col-md-auto">To </span>
        <select id="dropdown" class="col-md-auto">
            <option value="all">All</option>
        </select>
        <span class="col-md-auto">: </span>
    </div>
    <div class="row p-1">
        <div class="" margin-top: 20px;>
            <input type="text" class="w-100" id="messageInput" />
        </div>
    </div>
    <div class="row p-1">
        <div class="text-end" margin-top: 20px;>
            <input type="button" id="sendButton" value="Send Message"/>
        </div>
    </div>
    <div class="row p-1" margin-top: 20px;>
        <div class="">
            <hr/>
        </div>
    </div>
    <div class="row p-1" margin-top: 20px;>
        <div class="">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js?v=1719818606"></script>
<script src="~/js/chat.js?v=1719818606"></script>